In [1]:
# Print out the odd number 
var = "01234567"
print(var[::2])

0246

In [2]:
# Convert float to integer
int(3.99)

3

In [3]:
# Find the items in the second line
Name = "ABCDE"
Name.find("B")

1

In [6]:
# Print out the first lines
Name = "Lizz"
print(Name[0:2])

Li

In [8]:
# Divide the following numbers
Division = 1/2
Division

0.5

In [9]:
# This code will provide an interger
Equation = 2//3
Equation

0

In [10]:
# Change the first number in a list
List = [2, 2, 3, 4, 5,]
List[0] = 1
List

[1, 2, 3, 4, 5]

In [11]:
# Split the following numbers
Number = "1,2,3,4".split(",")
Number

['1', '2', '3', '4']

In [22]:
# Change a list to a set and arrange marks from lowest to highest
marks_on_test = [50, 60, 75, 80, 95, 95, 60, 100]
marks_on_test[1] = 65
marks_on_test
remove_duplicate_items = set(marks_on_test)
remove_duplicate_items

{50, 60, 65, 75, 80, 95, 100}

In [26]:
# Conditional statement using if/else
x = 27
if (x == 27):
    print("The author name is Yunus Ayodeji")
else:
    print("The author name is not Yunus Ayodeji")

The author name is Yunus Ayodeji

In [35]:
# Define a function
def add(x):
    return(x+x)
add("1")

'11'

In [53]:
# 
A = ["1","2","3"]
for a in A:
    print(2*a)

11
22
33

In [40]:
for i in range(1,5):
    if (i!=1):
        print(i)

2
3
4

In [41]:
# Perform addition to the equation
import numpy as np
a = np.array([1,2,3,4,5])
a+10

array([11, 12, 13, 14, 15])

In [47]:
#Perform addition to different equation
A = np.array([0,5,10,15])
B = np.array([2,5,10,5])
A*B

array([  0,  25, 100,  75])